## Setup BigQuery Connection

In [12]:
import os
import pandas as pd
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/hakukazuho/.dbt/ericbai_datapractice_mimic_iv.json"
client = bigquery.Client()

## Specify Dataset to Download & Load

In [13]:
# Define your query
query = """
    SELECT * FROM `mimic-iv-440804.eric_dbt.data_1108`
"""

# Run the query
query_job = client.query(query)

# Fetch the results as a DataFrame
results = query_job.to_dataframe()
results.to_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1108.csv')

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [14]:
df = pd.read_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1108.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df.head()

,hadm_id,race,insurance,admission_type,los_hours,discharge_location,gender,anchor_age,diagnoses_count,labtest_count,...,procedure_count,max_a1c,max_glucose,metformin,diagnosis_1,diagnosis_2,diagnosis_3,diagnosis_4,diagnosis_5,readmit_30d
0,20960069,ASIAN,Medicare,SURGICAL SAME DAY ADMISSION,103,HOME,M,66,2,18,...,2,NaN,224.0,True,185,25000,NaN,NaN,NaN,False
1,27878718,WHITE - RUSSIAN,Private,EW EMER.,46,SKILLED NURSING FACILITY,M,47,2,29,...,1,NaN,167.0,False,566,25000,NaN,NaN,NaN,False
2,24686455,WHITE,Private,URGENT,120,HOME,M,62,2,104,...,1,NaN,101.0,False,1510,25000,NaN,NaN,NaN,False
3,21508487,WHITE,Private,SURGICAL SAME DAY ADMISSION,24,HOME,M,71,2,78,...,2,NaN,159.0,False,2102,25000,NaN,NaN,NaN,True
4,20850035,WHITE,Private,SURGICAL SAME DAY ADMISSION,79,HOME,M,55,2,60,...,2,NaN,331.0,False,2396,25000,NaN,NaN,NaN,False

## Data Cleaning

### Missing Data

In [15]:
# Columns with Missing Data

# Replace df with your DataFrame
missing_values = pd.DataFrame({
    'Missing Count': df.isnull().sum(),
    'Percentage (%)': (df.isnull().sum() / len(df)) * 100
})

# Filter columns with missing values and sort in descending order of percentage
missing_values = missing_values[missing_values['Missing Count'] > 0]
missing_values = missing_values.sort_values(by='Percentage (%)', ascending=False)

missing_values

             Missing Count  Percentage (%)
max_a1c              17030       81.741384
max_glucose            689        3.307094
diagnosis_5            492        2.361524
diagnosis_4            151        0.724777
insurance              111        0.532783
diagnosis_3             26        0.124796

In [16]:
# Hotdeck Imputation with Approximate Bayesian Bootstrap

### Data Inconsistency

### Data Reduction

## Feature Selection

## Class Balancing