## Setup BigQuery Connection

In [1]:
import os
import pandas as pd
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/hakukazuho/.dbt/ericbai_datapractice_mimic_iv.json"
client = bigquery.Client()

## Specify Dataset to Download & Load

In [8]:
# Define your query
query = """
    SELECT * FROM `mimic-iv-440804.eric_dbt.data_1111`
"""

# Run the query
query_job = client.query(query)

# Fetch the results as a DataFrame
results = query_job.to_dataframe()
results.to_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1111.csv')

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [9]:
df = pd.read_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1111.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df.head()

,hadm_id,subject_id,race,insurance,admission_type,los_hours,admission_location,discharge_location,gender,age,...,examide,citoglipton,insulin,diabetic_med,diagnosis_1,diagnosis_2,diagnosis_3,diagnosis_4,diagnosis_5,readmit_30d
0,20960069,19595665,ASIAN,Medicare,SURGICAL SAME DAY ADMISSION,103,PHYSICIAN REFERRAL,HOME,M,66,...,False,False,True,True,185,25000,NaN,NaN,NaN,False
1,27878718,17618874,WHITE - RUSSIAN,Private,EW EMER.,46,EMERGENCY ROOM,SKILLED NURSING FACILITY,M,50,...,False,False,True,True,566,25000,NaN,NaN,NaN,False
2,24686455,13762375,WHITE,Private,URGENT,120,TRANSFER FROM HOSPITAL,HOME,M,62,...,False,False,True,True,1510,25000,NaN,NaN,NaN,False
3,21508487,10578743,WHITE,Private,SURGICAL SAME DAY ADMISSION,24,PHYSICIAN REFERRAL,HOME,M,71,...,False,False,True,True,2102,25000,NaN,NaN,NaN,True
4,20850035,13133673,WHITE,Private,SURGICAL SAME DAY ADMISSION,79,PHYSICIAN REFERRAL,HOME,M,55,...,False,False,True,True,2396,25000,NaN,NaN,NaN,False

## Data Cleaning

### Missing Data

In [10]:
# Columns with Missing Data

# Replace df with your DataFrame
missing_values = pd.DataFrame({
    'Missing Count': df.isnull().sum(),
    'Percentage (%)': (df.isnull().sum() / len(df)) * 100
})

# Filter columns with missing values and sort in descending order of percentage
missing_values = missing_values[missing_values['Missing Count'] > 0]
missing_values = missing_values.sort_values(by='Percentage (%)', ascending=False)

missing_values

             Missing Count  Percentage (%)
max_a1c               9012       79.604275
diagnosis_5            433        3.824750
max_glucose            382        3.374260
diagnosis_4            160        1.413303
insurance               56        0.494656
diagnosis_3             28        0.247328

In [16]:
# Hotdeck Imputation with Approximate Bayesian Bootstrap

### Data Inconsistency

### Data Reduction

## Feature Selection

## Class Balancing