In [2]:
import os
from google.cloud import bigquery

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/Users/hakukazuho/.dbt/ericbai_datapractice_mimic_iv.json"
client = bigquery.Client()

In [4]:
# Define your query
query = """
    SELECT * FROM `mimic-iv-440804.eric_dbt.data_1106`
"""

# Run the query
query_job = client.query(query)

# Fetch the results as a DataFrame
results = query_job.to_dataframe()
results.to_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1106.csv')

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

In [5]:
import pandas as pd

df = pd.read_csv('/Users/hakukazuho/t2dm_readmission/ml_models/data/data_1106.csv')
df.head()

,Unnamed: 0,hadm_id,race,insurance,admission_type,los_hours,discharge_location,gender,anchor_age,diagnoses_count,labtest_count,medication_count,procedure_count,max_a1c,max_glucose,metformin,readmit_30d
0,0,25295337,BLACK/AFRICAN AMERICAN,Medicaid,URGENT,43,HOME,F,30,2,10,11,3,NaN,NaN,False,False
1,1,21575815,WHITE,Private,EU OBSERVATION,38,NaN,M,30,5,135,11,1,NaN,NaN,False,False
2,2,27415546,HISPANIC/LATINO - PUERTO RICAN,Medicaid,SURGICAL SAME DAY ADMISSION,61,HOME,F,30,10,2,11,1,NaN,NaN,False,False
3,3,28259116,BLACK/AFRICAN AMERICAN,Medicare,DIRECT OBSERVATION,28,NaN,M,30,8,43,14,7,NaN,NaN,False,False
4,4,22916863,BLACK/AFRICAN AMERICAN,Medicaid,URGENT,66,HOME,F,30,3,21,15,3,NaN,NaN,False,False

In [7]:
df.drop(columns='Unnamed: 0', inplace=True)
df.head()

,hadm_id,race,insurance,admission_type,los_hours,discharge_location,gender,anchor_age,diagnoses_count,labtest_count,medication_count,procedure_count,max_a1c,max_glucose,metformin,readmit_30d
0,25295337,BLACK/AFRICAN AMERICAN,Medicaid,URGENT,43,HOME,F,30,2,10,11,3,NaN,NaN,False,False
1,21575815,WHITE,Private,EU OBSERVATION,38,NaN,M,30,5,135,11,1,NaN,NaN,False,False
2,27415546,HISPANIC/LATINO - PUERTO RICAN,Medicaid,SURGICAL SAME DAY ADMISSION,61,HOME,F,30,10,2,11,1,NaN,NaN,False,False
3,28259116,BLACK/AFRICAN AMERICAN,Medicare,DIRECT OBSERVATION,28,NaN,M,30,8,43,14,7,NaN,NaN,False,False
4,22916863,BLACK/AFRICAN AMERICAN,Medicaid,URGENT,66,HOME,F,30,3,21,15,3,NaN,NaN,False,False